@import "tailwindcss";

:root {
  --gradient-start:#ececf8; 
  --gradient-end:  #797a7b;  
}




 body {
  
  background-image: linear-gradient(to bottom, var(--gradient-start), var(--gradient-end));
  height: 100vh; 
}


